/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
}

#notice, #alert {
    text-align: center;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

#banned-header {
    text-align: center;
}

body {
    background-color: #F5F5F5;
    margin: 0 0 50px 0;
    padding-bottom: 15px; /* for div#main */
}

#main-header {
    background-color: white;
    padding: 25px;
}

#main-header-link a:link {
    float: left;
    text-decoration: none;
}

#main-header-link a:hover {
    background-color: white;
    color: black;
}

.header-right {
    float: right;
}

.header-right a:link {
    color: #0693e3;
    text-decoration: none;
}

.header-right a:hover {
    background-color: white;
    color: #0c2d88;
}

#name-label,
#new-thread,
#log-in,
#people-link {
    margin-right: 25px;
}

div#main {
    max-width: 1000px;
    background-color: white;
    display: table;
    margin-top: 15px; /* bottom margin is implemented via body bottom padding */
    margin-right: auto;
    margin-left: auto;
    padding: 25px;
}

#threads-header {
    text-align: center;
}

.show-thread-row {
    height: 36px;
}

.category-header-container {
    position: relative;
    text-align: center;
    color: white;
    background-color: rgb(0, 0, 194);
    margin-top: 15px;
    padding: 5px;
}

.category-show-button {
    position: absolute;
    right: 5px;
    bottom: 6px;
    color: white;
}

.thread-links {
    width: 200px;
}

.form-inputs input {
    margin-bottom: 10px;
}

.form-inputs input[type="password"],
.form-inputs input[type="email"],
.form-inputs input[type="text"] {
    width: 200px;
}

#thread-title-entry input,
#thread-initial-post-entry textarea,
#post-body-entry textarea,
.form-inputs input {
    background-color: #f2f2f2;
}

#thread-submit-button input,
#post-submit-button input,
.form-actions input {
    background-color: #f2f2f2;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#thread-submit-button input:hover,
#post-submit-button input:hover,
.form-actions input:hover {
    background-color: #dfdfdf;
}

#new-thread-header,
#new-post-header,
div#main h2 {
    margin-bottom: 10px;
}

.thread-links a:link,
.thread-back-reply a:link,
.cancel-content-create a:link,
.devise-links a:link,
.blue-link a:link,
.user-link a:link {
    color: #0693e3;
    text-decoration: none;
}

.thread-links a:hover,
.thread-back-reply a:hover,
.cancel-content-create a:hover,
.devise-links a:hover,
.blue-link a:hover,
.user-link a:hover {
    background-color: transparent;
    color: #0c2d88;
}

.ban-thread a:link,
.ban-post a:link,
.ban-user a:link,
.report-post a:link,
.report-thread a:link {
    color: red;
    text-decoration: none;
}

.ban-thread a:hover,
.ban-post a:hover,
.ban-user a:hover,
.report-post a:hover,
.report-thread a:hover {
    background-color: transparent;
    color: rgb(141, 51, 153);
}

.initial-post-container {
    border: 3px solid gray;
}

.post-date-spans,
.report-post {
    font-size: 85%;
}

.report-post {
    position: absolute;
    right: 5px;
    bottom: 5px;
    visibility: hidden;
}

.post-body {
    margin-bottom: 10px;
}

.border-table {
    border-collapse: collapse;
    width: 750px;
}

.border-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.border-table tr:nth-child(odd) {
    background-color: #fafafa;
}

.border-table td {
    padding: 0 25px;
}

.show-posts {
    background-color: #f2f2f2;
    border-collapse: collapse;
}

.show-posts td {
    padding: 0 20px;
}

.post-container {
    background-color: #fafafa;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    min-width: 400px;
    max-width: 400px;
    position: relative;
}

.post-container:hover .report-post {
    visibility: visible;
}

.thread-title-par {
    margin-top: 10px;
    font-size: 125%;
}

.user-link {
    font-size: 1.25rem;
}

/* USER INDEX PAGE */

#user-index-container {
    width: 400px;
}

#user-index-container form {
    margin-top: 15px;
    margin-bottom: 15px;
}

#user-index-container input {
    background-color: #f2f2f2;
    padding: 5px;
}

#users-header {
    text-align: center;
}

#user-search-form-container {
    display: table;
    margin-right: auto;
    margin-left: auto;
}

#search-results {
    background-color: #f2f2f2;
    width: 100%;
    border-collapse: collapse;
}

.search-result-tr:nth-child(odd) {
    background-color: #fafafa;
}

.search-result-td {
    text-align: center;
}

.banned-user-result {
    text-decoration: line-through;
}

/* PROFILE PAGES */

#my-profile-header,
#username-header,
#rank-header {
    text-align: center;
}

.banned-username-header,
.banned-user-link {
    text-decoration: line-through;
}

.banned-user-link {
    font-weight: bold;
}

#rank-header {
    margin-top: 15px;
}

#profile-top,
#profile-bottom {
    width: 400px;
    background-color: #f2f2f2;
}

#profile-top {
    margin-top: 15px;
}

.profile-info {
    padding: 10px;
    border: 3px solid gray;
}

.profile-info-container-top {
    text-align: center;
}

.profile-info-container-top .profile-info {
    border-bottom: 0;
}

.profile-info-container-bottom {
    float: left;
    width: 200px;
    background-color: #f2f2f2;
    text-align: center;
    margin-bottom: 15px; /* Weird thing with the divs here */
}

.profile-threads-box {
    border-right: 0
}

#admin-actions-header {
    text-align: center;
}

#admin-action-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* ADDITIONAL FORM STYLING */

.form-header {
    text-align: center;
}

/* ADMIN PANEL */

#admin-header,
#threads-reported-header,
#posts-reported-header,
#no-reported-threads,
#no-reported-posts,
#homepage-admin-link {
    text-align: center;
}

#threads-reported,
#posts-reported {
    margin-top: 15px;
    min-width: 400px;
}

#posts-reported-table {
    margin-right: auto;
    margin-left: auto;
}

#homepage-admin-link {
    margin-top: 15px;
}

#homepage-admin-link a {
    text-decoration: none;
    background-color: #f2f2f2;
    padding: 5px;
}

#homepage-admin-link a:hover {
    text-decoration: none;
    background-color: #e9e9e9;
    color: black;
}

/* FOOTER */

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
