<p style="text-align:center;font-weight:bold;font-size:1.2rem;">Hello <%= @resource.username %>!</p>

<p style="text-align:center;font-size:1.2rem;">We're contacting you to notify you that your password has been changed.</p>
