<p style="text-align:center;font-weight:bold;font-size:1.2rem;">Hello <%= @resource.username %>!</p>

<p style="text-align:center;font-size:1.2rem;">Someone has requested a link to change your password. You can do this through the link below.</p>

<div style="display:table;margin-left:auto;margin-right:auto;">
    <p style="text-align:center;font-size:1.2rem;">
        <%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token),
            style: 'text-decoration:none;padding:10px;background-color:#f2f2f2;' %>
    </p>
</div>

<p style="text-align:center;font-size:1.2rem;">If you didn't request this, please ignore this email.</p>
<p style="text-align:center;font-size:1.2rem;">Your password won't change until you access the link above and create a new one.</p>
